<div data-controller="quill">
  <div id="editor"></div>

  <%= form_with model: article, data: {action: "quill#fill"} do |form| %>
      <%= form.hidden_field :body %>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>

      <%= form.text_field :custom_link,
        value: "#{article.custom_link&.gsub!(/\A\d*-/, '')}",
        placeholder: 'custom link'
      %>
      <% article.errors.full_messages_for(:custom_link).each do |message| %>
        <div><%= message %></div>
      <% end %>

      <%= form.submit "Publish", class: "publish" %>
  <% end %>

</div>